.list {
}

.list-primary {
  padding-left: 0;
}
.list-primary > li {
  list-style: none;
}
.list-primary > li::before {
  content: "";
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: red;
  vertical-align: middle;
  margin-right: 3px;
  border-radius: 50%;
}
.list-title {
  font-size: 14px;
  padding-top: 22px;
  margin-bottom: 8px;
}
